:root {
	font-family: Lato, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 100%;
	text-rendering: optimizelegibility;

	font-synthesis: none;
}

/* Scrollbar styles */
* {
	scrollbar-color: var(--color-bg-secondary) var(--color-bg-primary);
	scrollbar-width: thin;
}

body {
	margin: 0;
	color: var(--color-text-primary);
	background-color: var(--color-bg-primary);
}

.wrapper {
	max-width: 1140px;
	margin-inline: auto;
	padding-inline: 20px;
}

.center {
	text-align: center;
}

.mb-5 {
	margin-bottom: 5px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-20 {
	margin-top: 20px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mt-30 {
	margin-top: 30px;
}
