.title {
	margin-bottom: 20px;
}

.list {
	display: grid;
	gap: var(--list-gap, 12px);
	padding-block: 30px 8px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.listRow {
	display: flex;
	flex-direction: column;
	gap: 0;
	padding: 40px 0;
}

.listRow li {
	width: 100%;
}

