.recipeCard {
	height: 100%;
	background-color: var(--color-bg-primary);
	display: flex;
	flex-direction: column;
	box-shadow: 0 5px 30px -10px rgba(49, 94, 251, 0.3);
}

.recipeCardDetails {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
	flex: 1;
	padding: 10px 12px;
}

.recipeCardInfo {
	display: flex;
	justify-content: space-between;
	margin-bottom: 4px;
	color: var(--color-text-secondary);
}

.recipeCardWithIcon {
	display: flex;
	align-items: center;
	gap: 3px;
}
