.iconLabel {
	display: flex;
	align-items: center;
	gap: 3px;
	color: var(--color-text-secondary, #4b5563);
	font-size: var(--font-size-xxs, 14px);
  line-height: 1;
}

.iconWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 16px;
	height: 16px;
}

.contentWrapper {
	display: inline-flex;
	align-items: center;
}

.contentWrapper a {
	color: inherit;
	text-decoration: none;
}

.contentWrapper a:hover {
	text-decoration: underline;
}
